<!DOCTYPE html>
<html>
<body>
	<%= locals.name%> <br>
	Type: <%= locals.type1%>/<%= locals.type2%> <br>
	Hp: <%= locals.hp%> <br>
	Atk: <%= locals.atk%> <br>
	Def: <%= locals.def%> <br>
	SpA: <%= locals.spa%> <br>
	SpDef: <%= locals.spdef%> <br>
	Spe: <%= locals.spe%> <br>
	BST: <%= locals.bst%> <br>
	<img src='<%= locals.img_name%>' width="100" height = "100"/>
</body>
</html>