<!DOCTYPE html>
<html>
<body>
	<form action="/update" method ="POST" enctype="multipart/form-data">
		<label> Name
			<input type="text" name ="name" value = "<%= locals.name%>" />
		</label>
		<br>
		<label> Type1
			<select name ="type1" value = "<%= locals.type1%>">
			  <option value="Normal">Normal</option>
			  <option value="Fire">Fire</option>
			  <option value="Water">Water</option>
			  <option value="Grass">Grass</option>
			  <option value="Electric">Electric</option>
			  <option value="Ice">Ice</option>
			  <option value="Fighting">Fighting</option>
			  <option value="Poison">Poison</option>
			  <option value="Ground">Ground</option>
			  <option value="Flying">Flying</option>
			  <option value="Psychic">Psychic</option>
			  <option value="Bug">Bug</option>
			  <option value="Rock">Rock</option>
			  <option value="Ghost">Ghost</option>
			  <option value="Dragon">Dragon</option>
			  <option value="Dark">Dark</option>
			  <option value="Steel">Steel</option>
			  <option value="Fairy">Fairy</option>
			  <option value="">No Update</option>
			</select>
		</label>
		<br>
		<label> Type2
			<select name ="type2" value = "<%= locals.type2%>">
			  <option value="Normal">Normal</option>
			  <option value="Fire">Fire</option>
			  <option value="Water">Water</option>
			  <option value="Grass">Grass</option>
			  <option value="Electric">Electric</option>
			  <option value="Ice">Ice</option>
			  <option value="Fighting">Fighting</option>
			  <option value="Poison">Poison</option>
			  <option value="Ground">Ground</option>
			  <option value="Flying">Flying</option>
			  <option value="Psychic">Psychic</option>
			  <option value="Bug">Bug</option>
			  <option value="Rock">Rock</option>
			  <option value="Ghost">Ghost</option>
			  <option value="Dragon">Dragon</option>
			  <option value="Dark">Dark</option>
			  <option value="Steel">Steel</option>
			  <option value="Fairy">Fairy</option>
			  <option value="None">None</option>
			  <option value="">No Update</option>
			</select>
		</label>
		<br>
		<label> HP
			<input type="number" min = 0 name ="hp" value = "<%= locals.hp%>" />
		</label>
		<br>
		<label> Atk
			<input type="number" min = 0 name ="atk" value = "<%= locals.atk%>" />
		</label>
		<br>
		<label> Def
			<input type="number" min = 0 name ="def" value = "<%= locals.def%>" />
		</label>
		<br>
		<label> SpA
			<input type="number" min = 0 name ="spa" value = "<%= locals.spa%>" />
		</label>
		<br>
		<label> SpDef
			<input type="number" min = 0 name ="spdef" value = "<%= locals.spdef%>" />
		</label>
		<br>
		<label> Spe
			<input type="number" min = 0 name ="spe" value = "<%= locals.spe%>" />
		</label>
		<br>
		<input type="file" name="image"/>
		<br>
		<button type ="submit">Submit</button>
	</form>
</body>
</html>
